ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.containerTable {
}

.containerPreview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  
}
