.form {
  width: 300px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: auto;
}

.label {
  margin: 10px;
}

.input1 {
  margin-left: 25px;
}

.input2 {
  margin-left: 10px;
}
